$Gilroy: 'Gilroy';
$Regular: 'Poppins-Regular';
$Semi: 'Poppins-SemiBold';
$Bold: 'Poppins-Bold';
$Extra: 'Poppins-ExtraBold';

@font-face{
    font-family: $Gilroy;
    src : url("../fonts/Gilroy/Gilroy-Regular.ttf");
}
@font-face{
    font-family: $Regular;
    font-weight: 400;
    src : url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face{
    font-family: $Semi;
    font-weight: 600;
    src : url("../fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face{
    font-family: $Bold;
    font-weight: 700;
    src : url("../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face{
    font-family: $Extra;
    font-weight: 800;
    src : url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}