//Color

$bg: #F2F2F2;
$white: #ffffff;
$gray: #F4FBF6; 
$gray6: #6C6C6C;
$gray7: #777777;
$gray9: #999999;
$green: #00A031; 
$black: #222222;
$extra: #1C201E;

//spead 

$first: all .3s ease-out;
$normal: all .5s ease-out;
$slow: all 1s ease-out;
